@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MVCViewsDemo.Models.ViewModels.UserLoginVM
@{ViewData["Title"] = "Login";}
<div class="jumbotron">
    <h1 style="text-align: center;">Login to my awesome page</h1>
</div>
<div class="container">
    <form asp-controller="user" asp-action="login">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-success" value="Submit">Submit!</button>
    </form>
</div>

<div class="container" style="text-align:center;margin-top:100px;">
    <h3>
        Don't have a user? Create one here!
    </h3>
    <a href="/user/create/" class="btn btn-success btn-md">Register</a>
</div>

@section Script{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}